:root {
  --main-text-color: #757575;
  --title-color: #212121;
  --bg-color: #ffffff;
  --accent-link-color: #2196f3;
  --bg-color-section: #2f303a;
  --button-color: #f5f4fa;
  --bg-adress-color: rgba(255, 255, 255, 0.6);
  --logo-header-color: #000;
  --icon-color: #AFB1B8;
  --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0%;
  margin-bottom: 0%;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--bg-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.container__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.container-main {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 6px;
  transition: bacgraun-color 250ms var(--animation);
}

button:hover, button:focus {
  color: var(--button-color);
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  background-color: var(--accent-link-color);
  border-radius: 4px;
}

button:active {
  color: var(--button-color);
  background-color: var(--accent-link-color);
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--accent-link-color);
}

.list .logo {
  width: 145px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-studio-black {
  color: var(--logo-header-color);
}

.footer-blok .logo {
  display: block;
  width: 145px;
  margin-bottom: 20px;
}

.logo-studio-white {
  color: var(--bg-color);
}

.icon-social {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.icon-social__item + .icon-social__item {
  margin-left: 10px;
}

.icon-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--bg-color);
  transition: background-color, fill 250ms var(--animation);
}

.icon-social__link:hover, .icon-social__link:focus {
  background-color: var(--accent-link-color);
}

.icon-social__link:hover .icon-social__icon,
.icon-social__link:focus .icon-social__icon {
  fill: var(--bg-color);
}

.icon-social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.icon-social__icon--fill {
  fill: var(--bg-color);
}

.icon-social__link--bgcolor {
  background-color: rgba(255, 255, 255, 0.1);
}

.list {
  display: flex;
}

.list-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: var(--title-color);
  transition: color 250ms var(--animation);
}

.list-nav__link:hover, .list-nav__link:focus {
  color: var(--accent-link-color);
}

.list-nav {
  display: flex;
  max-width: 100%;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.list-nav__item {
  margin-left: 50px;
}

.list-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.list-nav__current {
  color: var(--accent-link-color);
}

.list-nav__current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 4px;
  transition: background 250ms var(--animation);
}

.section {
  width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../imeges/Img (hero).jpg");
  background-position: center;
  background-size: cover;
  outline: 1px solid black;
  background-color: var(--bg-color-section);
  color: var(--bg-color);
}

.footer-form__sign {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #FFFFFF;
}

.mail-form {
  display: flex;
  width: 570px;
}

.mail-form__email {
  width: 358px;
  padding-left: 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: var(--bg-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--animation);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-window {
  position: absolute;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms var(--animation);
}

.close-modal {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--logo-header-color);
  font: inherit;
  transition: fill 250ms var(--animation);
}

.close-modal:hover, .close-modal:focus {
  fill: var(--accent-link-color);
  border: 1px solid var(--accent-link-color);
}

.close-modal__icon {
  width: 11px;
  height: 11px;
}

.modal-button {
  display: block;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--bg-color);
  background-color: var(--accent-link-color);
}

.modal-form {
  width: 448px;
}

.modal-form__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.modal-form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__field:last-child {
  margin-bottom: 0;
}

.modal-form__input {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form__input:focus {
  border: 1px solid var(--accent-link-color);
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--accent-link-color);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
}

.modal-form__name-icon {
  width: 18px;
  height: 18px;
}

.coment {
  height: 138px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.checkbox {
  margin-top: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.checkbox__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 3%;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__input:checked + .checkbox__icon {
  border-color: transparent;
  background-color: var(--accent-link-color);
  background-image: url("../imeges/icon-check.svg");
  background-size: contain;
  background-origin: padding-box;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 3%;
  text-decoration: underline;
  color: var(--accent-link-color);
}

.page-header {
  border-bottom: 1px solid #EEEEEE;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.contact-nav {
  display: flex;
  margin-left: auto;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.contact-nav :hover,
.contact-nav :focus {
  color: var(--accent-link-color);
}

.contact-nav__item {
  margin-left: 50px;
}

.contact-nav__email,
.contact-nav__telephon {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: var(--main-text-color);
  transition: collor 250ms var(--animation);
}

.contact-nav__email::before,
.contact-nav__telephon::before {
  content: "";
  width: 16px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-nav__email::before,
.contact-nav__telephon::before {
  content: "";
  width: 10px;
  height: 16px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.contact-nav__email,
.contact-nav__telephon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 0;
  transform: fill 250ms var(--animation);
}

.contact-nav__email:hover, .contact-nav__email:focus,
.contact-nav__telephon:hover,
.contact-nav__telephon:focus {
  fill: var(--accent-link-color);
}

.contact-nav__email:hover, .contact-nav__email:focus,
.contact-nav__telephon:hover,
.contact-nav__telephon:focus {
  fill: var(--accent-link-color);
}

.icon-email {
  fill: currentColor;
  margin-right: 10px;
}

.icon-telephone {
  fill: currentColor;
  margin-right: 10px;
}

.section__hero {
  display: inline-block;
  width: 696px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section__button {
  display: block;
  border: 1px solid transparent;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  color: var(--bg-color);
  background: var(--accent-link-color);
}

.sektion__button [type="button"] {
  font-weight: 700;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration-line: none;
  color: var(--title-color);
  background-color: var(--button-color);
}

.main-list {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.main-list__item {
  width: 270px;
  margin-right: 30px;
}

.main-list__item::before {
  display: block;
  content: " ";
  height: 120px;
  margin-bottom: 30px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.main-list__item:last-child {
  margin-right: 0%;
}

.main-list__icon-antenna::before {
  background-image: url(../imeges/antenna.svg);
}

.main-list__icon-clock::before {
  background-image: url(../imeges/clock.svg);
}

.main-list__icon-diagram::before {
  background-image: url(../imeges/diagram.svg);
}

.main-list__icon-astronaut::before {
  background-image: url(../imeges/astronaut.svg);
}

.main-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
}

.main-list__text {
  margin-top: 0;
}

.main-list__text:last-child {
  margin-bottom: 0;
}

.main-list__text {
  display: inline-block;
  width: 270px;
}

.what-we-do {
  padding-bottom: 94px;
}

.container__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  margin-bottom: 50px;
  color: var(--title-color);
}

.gadget-list {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.gadget-list__link {
  width: 370px;
  margin-right: 30px;
}

.gadget-list__link:last-child {
  margin-right: 0;
}

.gadget-list__jobs {
  position: relative;
}

.gadget-list__box {
  margin: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.gadget-list__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.main-section {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding: 94px 15px;
  color: var(--main-text-color);
}

.section-command {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button-color);
}

.command {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.command__link {
  width: 270px;
  margin-right: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-color);
}

.command__link:last-child {
  margin-right: 0;
}

.command__box {
  padding: 30px 32px;
}

.command__name {
  font-weight: 500;
  line-height: 1.187;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-color);
}

.command__profession {
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 30px;
  text-align: center;
  color: var(--main-text-color);
}

.section-clients {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-clients {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.regular-clients__item {
  width: 170px;
  margin-right: 30px;
}

.regular-clients__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  fill: var(--icon-color);
  border: 2px solid var(--icon-color);
  border-radius: 4px;
  transition: fill 250ms var(--animation);
}

.regular-clients__icon:hover, .regular-clients__icon:focus {
  border: 2px solid var(--accent-link-color);
}

.regular-clients__icon:hover .regular-clients__client,
.regular-clients__icon:focus .regular-clients__client {
  fill: var(--accent-link-color);
}

.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color-section);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer-blok {
  flex-basis: calc((50% - 45px) / 2);
}

.footer-blok:last-child {
  flex-basis: calc(50% - 15px);
}

.addres-footer {
  width: 231px;
  display: block;
}

.address-footer__contact {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--bg-color);
}

.address-footer__nav {
  margin-bottom: 9px;
}

.footer-list .contact-nav {
  display: block;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  list-style: none;
  color: var(--bg-adress-color);
}

.mail-form__button {
  display: flex;
  width: 200px;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.87;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.mail-form__button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../imeges/icon-send.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-nav__link + .contact-nav__link {
  margin-top: 9px;
}

.contact-nav__mail,
.contact-nav__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: var(--main-text-color);
  transition: collor 250ms var(--animation);
}

.welcom-list {
  display: block;
  width: 206px;
}

.welcom-page {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: var(--bg-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding-left: 0;
  padding-left: 0;
  list-style: none;
}

.portfolio-button__item {
  display: flex;
  margin-right: 8px;
}

.portfolio-button__item:hover, .portfolio-button__item:focus {
  color: var(--bg-color);
  background-color: var(--accent-link-color);
}

.portfolio-button__first-one {
  color: var(--button-color);
  background-color: var(--accent-link-color);
}

.portfolio-button__item {
  display: inline-block;
  border: 0;
  color: var(--title-color);
  background-color: var(--button-color);
}

.card-portfolio {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.item-portfolio {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eee;
}

.item-portfolio:hover, .item-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-portfolio:last-child {
  margin-right: 0;
}

.item-portfolio:nth-child(3n) {
  margin-right: 0;
}

.item-portfolio__icon {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms var(--animation);
}

.item-portfolio__icon:hover .text-item-portfolio,
.item-portfolio__icon:focus .text-item-portfolio {
  transform: translateY(0);
}

.text-paragraf {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.text-item-portfolio {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--animation);
}

.text-portfolio {
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: var(--bg-color);
}

.menu-project {
  width: 100%;
  padding: 20px 24px;
}

.menu-project__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.menu-project__paragraf {
  line-height: 1.87;
  color: var(--main-text-color);
}
/*# sourceMappingURL=styles.css.map */