*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 2px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p
 {
  margin-top: 0%;
  margin-bottom: 0%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--bg-color);

}

