.footer-container {
  padding: 60px 0;
  background-color: var(--bg-color-section);
  margin-left: auto;
  margin-right: auto;
}


.footer-list {

@media screen and (min-width: 1200px) {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  }
}



.footer-blok {
  flex-basis: calc((50% - 45px) / 2);
  //margin-bottom: 60px;
}

.footer-blok:last-child {
  flex-basis: calc(50% - 15px);
}

.address-footer {
  
  //display: block;
  margin-bottom: 60px;

  @media screen and(min-width: 480px) {
    width: 231px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}

.address-footer__contact  {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  color: var(--bg-color);
  //margin-bottom: 60px;
}

.address-footer__nav {
	margin-bottom: 9px;
  text-align: center;
}

.footer-list .contact-nav {
  display: block;
  flex-direction: column;
  padding-left: 0;
  margin: 0;
  list-style: none;
  color: var(--bg-adress-color);
  text-align: center;
}

.mail-form__button {
  display: flex;
  width: 200px;
  text-align: center;
  letter-spacing: 0.06em;

  padding-top: 10px;
  padding-bottom: 10px;
  
  font-size: 16px;
  line-height: 1.87;
  
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.mail-form__button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url("../imeges/icon-send.svg");
  background-size: contain;
  background-repeat: no-repeat;
}