.main-list {
  padding-left: 0;
  
  list-style: none;

  @media screen and (min-width: 480px) {
   min-width: 480px;
  }
    
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

  }
   @media screen and (min-width: 1200px){
     
     flex-wrap: nowrap;
   }

}


.main-list__item {
  margin-bottom: 30px;
  //height: 120px;
  background-size: 70px;
  //background-repeat: no-repeat;
  //background-position: center;
  //background-color: #F5F4FA;
  //background-color: blue;

  @media screen and (min-width: 480px) {
    .main-list__item:last-of-type{
  margin-bottom: 0%;
  }
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    
    flex-basis: calc((100% - 3 * 30px) / 4);
    margin: 15px;
    
    
  }
}



@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-list__item:nth-child(2n) {
    margin-right: 0;
  }

  .main-list__item:last-child(-n+2) {
    margin-bottom: 0;
  }

}

 


.main-list__icon-antenna::before {
  background-image: url(../imeges/svg.icons.svg#icon-antenna); 
}

.main-list__icon-antenna {
  //width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: #F5F4FA;
  align-items: center;
  margin-bottom: 30px;
}

.main-list__icon-svg {
  width: 70px;
  height: 70px;
}



.main-list__icon-clock::before {
  background-image: url(../imeges/clock.svg);
}

.main-list__icon-clock {
  //width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: #F5F4FA;
  align-items: center;
  margin-bottom: 30px;
}

.main-list__icon-diagram::before {
  background-image: url(../imeges/diagram.svg);
}

.main-list__icon-diagram {
  //width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: #F5F4FA;
  align-items: center;
  margin-bottom: 30px;
}
  

.main-list__icon-astronaut::before {
  background-image: url(../imeges/astronaut.svg);
}

.main-list__icon-astronaut {
  height: 120px;
  display: flex;
  justify-content: center;
  background-color: #F5F4FA;
  align-items: center;
  margin-bottom: 30px;
}
  

.main-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
  color: var(--title-color);

  @media screen and (max-width: 767.98px) {
    display: flex;
    justify-content: center;
  }

}
.main-list__text {
  margin-top: 0;
} 


//.main-list__text {
  //display: inline-block;
  //width: 270px;
//}