.menu-button {
  
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 10px;
    right: 15px;

  }
}

.menu-button {
 @media screen and(min-width: 767px) {
  display: none;
  }
}

.menu-button .icon-menu {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: block;
}

.menu-button.is-open .icon-close {  
  display: none;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 48px 40px;
  background-color: aqua;
  //background-color: #fff;
  //box-shadow: 0px 4px 8px rgb(0 0 0 / 4%), 0px 2px 4px rgb(0 0 0 / 8%), 0px 1px 3px rgb(0 0 0 / 16%);
  text-align: start;
  justify-content: space-between;
  overflow-y: scroll;
  z-index: 1;

  transform: translateX(100%);
  transition: var(--animation);

  &.is-open {
    display: block;
  }
}

.mobile-menu.is-open {
    display: block;
    transform: translateX(0);
}

@media screen and(max-width: 767px) {
    .mobile-menu {
    display: none;
    position: absolute;
    width: 100vw;
    
    }
}

.mobile-nav__item {
    margin-top: 32px;
}

.mobile-nav__item
.mobile-nav__current {
    color: var(--accent-link-color);

  &::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   
   width: 100%;
   height: 4px;
   background: #2196F3;
   border-radius: 4px;
   transition: background 250ms var(--animation);
  }

}

.mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
}
.mobile-contact {
  padding-top: 38px;
  //display: flex;
  flex-direction: column;
  
}

.mobile-contact-nav__telephon {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: var(--main-text-color);
  transition: collor 250ms var(--animation);

}

.mobile-contact-nav__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration-line: none;
  color: var(--main-text-color);
  transition: collor 250ms var(--animation);
}

.mobile-menu__social-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -32px;
    margin-left: -10px;
}

.mobile-menu__social-item {
  margin-top: 32px;
    margin-left: 10px;
}

.mobile-menu__social-item:not(:last-child) {
    text-align: start;
    padding-right: 10px;
    border-right: 1px solid rgba(33,33,33,0.2);
}

.mobile-menu__social-link {
    padding-right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2196f3;
}


